# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧪 Virtual environment
.venv/

# ⚙️ VS Code config (optional)
.vscode/
*.code-workspace

# 🧬 Environment files
.env
.env.*
!.env.example

# 🔐 Config ที่ไม่ควรเผยแพร่
Config/data_table.json
Config/data_table_private.json
Config/config_private.json
Config/data_table_sample.json

# 💻 System / OS
.DS_Store
Thumbs.db

# 🧪 Testing logs (optional)
*.log

# Ignore Google credential
Config/credentials.json
